
.env
*.env
!.env.example


venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg
.eggs/


*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
celerybeat-schedule
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir


node_modules/
dist/
.npm
*.tgz


.DS_Store
Thumbs.db
desktop.ini

.vscode/
.idea/
*.swp
*.swo